<div class="flex-column flex-full-center full-width gap-15">
	<sr-content-card>
		<p>
			There's a lot more to me than <em>just</em> "software engineer".
			<br />
			<br />
			In general,
			<sr-highlight
				>I am kind, curious, and get along well with just about
				everyone!</sr-highlight
			>
			If culture fit is as important to you as it is to me though, allow
			me to show you a bit more of who I am outside of professional work.
		</p>
	</sr-content-card>

	<sr-content-card
		title="Education"
		[mediaConfig]="neumontMediaConfig"
		mediaPosition="right"
	>
		<p>
			Going to school at Neumont College of Computer Science was one of
			the best decisions I ever made. Of course I learned a lot about
			<sr-highlight>programming and problem-solving</sr-highlight>, but
			arguably more importantly, I learned to have an
			<sr-highlight
				>open mind and an appreciation for diversity</sr-highlight
			>.
			<br />
			<br />
			The <sr-highlight>people</sr-highlight> I had the pleasure of
			meeting and learning from were by far the most impactful aspect of
			my college experience.
		</p>
	</sr-content-card>

	<sr-content-card title="Nature" [mediaConfig]="redwoodMediaConfig">
		<p>
			I love being outdoors. Whether it is horseback riding through the
			incredible redwood forests of California or just sprucing up the
			flowerbeds in my front yard, it quiets my mind and helps me reflect
			on the
			<sr-highlight>beauty of simplicity</sr-highlight> and the
			<sr-highlight
				>importance of preserving the natural world</sr-highlight
			>.
			<br />
			<br />
			If you haven't already done it today (or even if you have), I
			encourage you to go get some fresh air!
		</p>
	</sr-content-card>

	<sr-content-card
		title="Motorcycles"
		[mediaConfig]="motorcycleMediaConfig"
		mediaPosition="right"
	>
		<p>
			I grew up with motorcycles and have always been thrilled by the
			experience of zooming along on two wheels. When I was a kid, I would
			race dirt bikes with my brother and cousins around our yard that we
			turned into a full-blown mini racetrack! Riding motorcycles has
			taught me that
			<sr-highlight>practice and dedication</sr-highlight> lead to
			<sr-highlight>confidence and consistency</sr-highlight>.
			<br />
			<br />
			I currently ride a 2025 Honda SCL500 that I have stuck a couple of
			modifications on to be able to take it out camping!
		</p>
	</sr-content-card>

	<sr-content-card title="Video Games" [mediaConfig]="gameRoomMediaConfig">
		<p>
			Video games are how I got into software development! The incredible
			blend of artistry and technology that goes into creating immersive
			experiences is what drew me to programming. Growing up with games
			like Pokemon and The Legend of Zelda bolstered my appreciation for
			<sr-highlight>attention to detail</sr-highlight> and even helped me
			learn to read!
			<br />
			<br />
			While I still enjoy and revisit those kinds of classic Nintendo
			titles, nowadays I tend to play more challenging games like Resident
			Evil (both modern and classic!), Dark Souls, Baldur's Gate, Project
			Zomboid, etc.
		</p>
	</sr-content-card>
</div>
