<div
	class="content-card flex-row flex-align-center full-width gap-15 p-10"
	[ngClass]="{
		'content-card--mobile': isMobileScreen(),
		'flex-column': isMobileScreen(),
	}"
>
	@if (image && imagePosition === "left" && !isMobileScreen()) {
		<div class="image-container flex-column flex-full-center">
			<img
				class="content-card__image full-width"
				[src]="image"
				alt="Content Card Image"
			/>
		</div>
	}

	<div class="content-card__text flex-column gap-10 p-10 full-width">
		@if (title) {
			<div class="content-card__title border-b">
				<h3 class="pl-10">{{ title }}</h3>
			</div>
		}

		<div class="flex-column full-height flex-full-center gap-10 m-10">
			<ng-content></ng-content>
		</div>
	</div>

	@if (image && (imagePosition === "right" || isMobileScreen())) {
		<div class="image-container flex-column flex-full-center">
			<img
				class="content-card__image"
				[src]="image"
				alt="Content Card Image"
			/>
		</div>
	}
</div>
