@use '@global-stylesheets/_style-vars.scss' as vars;
@use "@global-stylesheets/_shared-classes.scss";

.content-card {
    max-width: vars.$max-content-width;
    min-width: 300px;
    overflow: hidden;
    animation: fadeIn 0.5s ease-in-out;

    & .image-container {
        max-width: 33%;
    }
    
    &__image {
        border-radius: vars.$default-border-radius;
        box-shadow: vars.$default-box-shadow;
        background-color: vars.$sr-palette-black;
    }
    
    &__text {
        background-color: vars.$sr-palette-black;
        border-radius: vars.$default-border-radius;
        box-shadow: vars.$default-box-shadow;
        text-align: center;
    }
    
    &__title {
        font-size: 1.75rem;
        font-weight: bold;
        text-align: left;
        color: vars.$sr-palette-green;
    }

    &--mobile {
        & .image-container {
            max-width: 100%;
        }
    }
}

@keyframes fadeIn {
    0% {
        transform: scaleY(97%);
        opacity: 0;
    }
    90% {
        transform: scaleY(100%);
        opacity: 0.9;
    }
    100% {
        opacity: 1;
    }
}
