@use "@global-stylesheets/_shared-classes.scss";

.icon-link {
    @extend %icon-container;
    cursor: pointer;
    display: inline-block;
    color: inherit;
    text-decoration: none;
}

.icon-button {
    @extend %icon-container;
    cursor: pointer;
    color: inherit;
    background: none;
    border: none;
}
