<sr-content-card title="Sebastian Ryther" image="assets/images/PFP.jpg">
	<p>
		I'm a full-stack software engineer with a passion for creating efficient
		solutions with designs and architecture that matches the needs of the
		project.
		<br />
		<br />
		Let's build something together!
	</p>

	<div class="flex-row flex-align-center gap-15 mt-20">
		<sr-icon-button
			href="mailto:sebastian.ryther@gmail.com"
			iconName="featherMail"
		>
		</sr-icon-button>
		<sr-icon-button
			href="https://www.linkedin.com/in/sryther/"
			iconName="featherLinkedin"
		>
		</sr-icon-button>
	</div>
</sr-content-card>
