$diameter: 10%;
$radius: $diameter / 2;
.logo {
    height: 100%;
    width: 100%;
    position: relative;

    & > * {
        position: absolute;
    }
}

.circle {
    height: $diameter;
    width: $diameter;
    border-radius: 50%;

    &.left {
        left: calc(25% - $radius);
    }

    &.right {
        right: calc(25% - $radius);
    }

    &.top {
        top: calc(25% - $radius);
    }

    &.bottom {
        bottom: calc(25% - $radius);
    }

    &.v-center {
        top: calc(50% - $radius);
    }

    &.h-center {
        left: calc(50% - $radius);
    }
}

#left-top-circle {
    background-color: var(--sr-palette-blue);
}

#left-middle-circle {
    background-color: var(--sr-palette-red);
}

#left-bottom-circle {
    background-color: var(--sr-palette-green);
}

#center-circle {
    border: calc(25%) solid var(--sr-palette-black);
    bottom: calc(33.3% - $radius);
}

#right-middle-circle {
    background-color: var(--sr-palette-purple);
}

#right-bottom-circle {
    background-color: var(--sr-palette-blue);
}
