<div class="header">
	<sr-side-nav></sr-side-nav>

	<div class="flex-row flex-align-center full-height">
		@for (
			routeMapping of navRouteMappings | keyvalue: originalOrder;
			track routeMapping
		) {
			<div
				class="header__tab flex-row flex-full-center gap-5 full-height"
				[ngClass]="{
					'header__tab--active':
						vm().currentRootRoute == routeMapping.key,
				}"
				(click)="onNavTabClicked(routeMapping.key)"
			>
				<sr-icon iconName="featherCode" class="html-bracket"></sr-icon>
				<p>{{ routeMapping.value }}.html</p>
			</div>
		}
	</div>
	<div class="flex-row flex-align-center full-height gap-10 pr-15">
		<sr-icon-button
			href="https://www.linkedin.com/in/sryther/"
			iconName="featherLinkedin"
		>
		</sr-icon-button>
	</div>
</div>
