<div
	class="header flex-row flex-align-center flex-justify-space-between gap-15 pr-15"
>
	<div class="flex-row flex-align-center">
		@for (
			routeMapping of navRouteMappings | keyvalue: originalOrder;
			track routeMapping
		) {
			<div
				class="header__tab flex-row flex-full-center gap-5"
				[ngClass]="{
					'header__tab--active':
						vm().currentRootRoute == routeMapping.key,
				}"
				(click)="onNavTabClicked(routeMapping.key)"
			>
				<sr-icon iconName="featherCode" class="html-bracket"></sr-icon>
				<p>{{ routeMapping.value }}.html</p>
			</div>
		}
	</div>
	<div class="socials-container">
		<sr-icon-button
			href="https://www.linkedin.com/in/sryther/"
			iconName="featherLinkedin"
		>
		</sr-icon-button>
	</div>
</div>
