<nav class="header border-b">
	<!-- Wrapping in div to preserve grid layout on mobile -->
	<div>
		<sr-side-nav [ngClass]="{ hidden: !vm().isMobileScreen }"></sr-side-nav>
	</div>

	<div class="flex-row flex-align-center full-height">
		@for (
			routeMapping of vm().navRouteMappings | keyvalue: originalOrder;
			track routeMapping
		) {
			<div
				class="header__tab nav-link border-r flex-row flex-full-center full-height"
				[ngClass]="{
					'nav-link--active':
						vm().currentRootRoute == routeMapping.key,
					hidden: vm().isMobileScreen,
				}"
				(click)="navigateToRoute(routeMapping.key)"
			>
				<sr-icon
					iconName="featherCode"
					class="html-bracket mr-5"
					aria-hidden="true"
				></sr-icon>
				<p>{{ routeMapping.value }}</p>
				<p class="nav-link__file-extension" aria-hidden="true">.html</p>
			</div>
		}
	</div>
	<div class="flex-row flex-align-center full-height gap-15 px-15">
		<sr-icon-button
			href="mailto:sebastian.ryther@gmail.com"
			iconName="featherMail"
		>
		</sr-icon-button>
		<sr-icon-button
			href="https://www.linkedin.com/in/sryther/"
			iconName="featherLinkedin"
		>
		</sr-icon-button>
	</div>
</nav>
