@use '@global-stylesheets/_style-vars.scss' as vars;

#app-container {
    display: grid;
    grid-template-rows: auto 1fr;
}

#app-content {
    background: radial-gradient(circle, vars.$sr-palette-dark-grey 10%, transparent 20%);
    background-size: 0.5em 0.5em;

    & > * {
        max-width: vars.$max-content-width;
    }
}
