.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--default-spacing);

    height: var(--header-height);
    padding: 0px var(--default-spacing);
    background-color: var(--sr-palette-black);

    &__nav {
        display: flex;
        align-items: center;
    }

    &__logo {
        height: var(--header-height);
        width: var(--header-height);
    }

    &__tab {
        width: 200px;
        height: var(--header-height);
        color: var(--sr-palette-white);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        cursor: pointer;

        & > .html-bracket {
            color: var(--sr-palette-red);
        }

        &:not(:last-of-type) {
            border-right: solid 1px var(--sr-palette-dark-grey);
        }
    }
}
