<div class="header">
    <div class="header__nav">
        <div class="header__logo">
            <img src="../../../../../assets/images/logo/GridLogo_512.png"/>
        </div>

        <span
            *ngFor="let routeMapping of navRouteMappings | keyvalue"
            class="header__tab"
            (click)="onNavTabClicked(routeMapping.key)">
            <p class="bracket-string">{{bracketString}}</p>
            <p>{{routeMapping.value}}.html</p>
        </span>
    </div>

    <div>
        <a href="https://www.linkedin.com/in/sryther/" target="_blank" rel="noopener noreferrer">LinkedIn</a>
    </div>
</div>
