.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--default-spacing);

    height: var(--header-height);
    padding: 0px var(--default-spacing);
    background-color: var(--sr-palette-extra-light-grey);

    &__nav {
        display: flex;
        gap: var(--default-spacing);
    }
}
