<div class="flex-column flex-full-center full-width gap-15">
	<sr-content-card>
		<p>
			I've done quite a bit of stuff!
			<br />
			Here are some highlights of my professional experience.
			<br />
			<br />
			If you'd like to discuss anything in more detail,
			please feel free to reach out to me via the contact information listed <a href="contact">here</a>!
		</p>
	</sr-content-card>

	<sr-content-card title="Nelnet Modernization">
		<p>
			I am currently working full-time on a modernization project for 
			<sr-external-link href="https://www.nelnet.com/"
			>Nelnet</sr-external-link>.
			This project is a large-scale cross-team effort to replace legacy ColdFusion with modern, scalable
			<sr-highlight>Angular</sr-highlight> and <sr-highlight>ASP.NET</sr-highlight> applications
			while preserving existing functionality and minimizing disruptions to clients.
			<br />
			<br />
			During this effort, I have been responsible for planning and developing
			<sr-highlight>new features</sr-highlight> of various scales,
			refactoring existing code to be up to <sr-highlight>50% more efficient</sr-highlight>,
			and ensuring <sr-highlight>long-term maintainability</sr-highlight>.
			<br />
			<br />
			I have had the opportunity to both learn from and teach other developers throughout the whole process.
			The team takes great pride in sharing knowledge and mentoring other developers!
		</p>
	</sr-content-card>

	<sr-content-card
		title="Children's Museum Game"
		image="assets/images/OceanWasteGame.png"
		imagePosition="right"
	>
		<p>
			Recently, I had the opportunity to work on an educational game that teaches
			children about the importance of keeping our oceans clean and protecting marine life for
			<sr-highlight>Long Island Children's Museum</sr-highlight>!
			<br />
			<br />
			In collaboration with
			<sr-external-link
				href="https://heartlandscenic.com/"
			>Hearland Scenic Studio</sr-external-link>,
			I created an interactive experience using 
			<sr-highlight>C#</sr-highlight> and the <sr-highlight>Unity game engine</sr-highlight>
			that allows children to learn about waste that ends up in oceans and its impact in a fun and engaging way.
			I was responsible for <sr-highlight>all of the programming and development</sr-highlight>,
			including implementing game mechanics, creating interactive elements and animations, and ensuring a smooth user experience
			on a large touchscreen kiosk.
			<br />
			<br />
			The final product is <sr-highlight>on display and playable right now</sr-highlight>
			as part of their 
			<sr-external-link
				href="https://www.licm.org/exhibits/exhibit/saltwater-stories-sea-me/"
			>Saltwater Stories exhibit</sr-external-link>. 
			I am proud to have contributed to this incredible initiative!
		</p>
	</sr-content-card>

	<sr-content-card
		title="3D Scanning Platform"
		image="assets/images/Spectre3d_Logo.png"
	>
		<p>
			I collaborated with a small team of amazingly talented developers
			to create a 3D scanning application for <sr-highlight>iOS and Android</sr-highlight>
			that allowed anyone to scan objects and create 3D models using their mobile devices.
			Eventually this app was expanded to include an entire <sr-highlight>public API platform</sr-highlight>
			that allowed others to add 3D-scanning functionality to their own applications and websites!
			<br />
			<br />
			Originally built using <sr-highlight>Xamarin/Maui</sr-highlight> for cross-platform compatibility
			alongside an <sr-highlight>Angular</sr-highlight> web app utilizing <sr-highlight>Three.js</sr-highlight>
			for additional functionality, this project served as a fantastic learning experience
			and introduced me to many of my current favorite technologies and frameworks!
		</p>
	</sr-content-card>

	<sr-content-card title="Internal Automation Tooling">
		<p>
			One of the first software engineering projects I ever tackled was creating automation tooling for the
			<sr-external-link href="https://strangereptile.com/"
			>Strange Reptile</sr-external-link> game studio!
			<br />
			<br />
			While I did contribute a bit to a super duper top secret game project using
			<sr-highlight>C++</sr-highlight> and the <sr-highlight>Unreal game engine</sr-highlight>,
			my main focus was fixing up an old and rowdy <sr-highlight>code-generation tool</sr-highlight>
			using <sr-highlight>C#</sr-highlight> and the <sr-highlight>Mustache template engine</sr-highlight>.
			On top of fixing and expanding the tool itself, I was also placed in charge of
			<sr-highlight>creating documentation</sr-highlight> for it from scratch.
			I had a ton of fun with this project and learned so much during my time
			with the incredibly professional team.
		</p>
	</sr-content-card>
</div>
