//#region Color Palette
$sr-palette-black: #1E1E1E;
$sr-palette-extra-dark-grey: #3b3b3b;
$sr-palette-dark-grey: #646464;
$sr-palette-light-grey: #C8C8C8;
$sr-palette-extra-light-grey: #F0F0F0;
$sr-palette-white: #FAFAFA;
$sr-palette-red: #FF9696;
$sr-palette-green: #C8FFC8;
$sr-palette-blue: #64C8FF;
$sr-palette-purple: #C896FF;
//#endregion Color Palette

//#region Element Sizing/Spacing
$header-height: 50px;
$side-nav-width: 250px;

$icon-max-size: 32px;
$default-spacing: 15px;
//#endregion Element Sizing/Spacing

$default-box-shadow: 3px 2px 10px 1px rgba(0, 0, 0, 0.33);
$default-border: 1px solid $sr-palette-dark-grey;
$default-border-radius: 5px;
