@use './global-stylesheets/_style-vars.scss' as vars;

* {
    font-family: 'Consolas';
}

html, body {
    background-color: vars.$sr-palette-extra-dark-grey;
    color: vars.$sr-palette-white;
    font-size: 14px;
}

.logo-icon {
    width: 36px;
    height: 36px;
    object-fit: scale-down;
}
