<div id="toggle-button-container" class="flex-row flex-full-center">
	<sr-icon-button
		id="toggle-button"
		[ngClass]="{ rotate: isOpen }"
		iconName="featherChevronRight"
		(click)="toggleSideNav()"
	></sr-icon-button>
</div>

<div #sideNav class="side-nav flex-column border-r">
	@for (
		routeMapping of vm().navRouteMappings | keyvalue: originalOrder;
		track routeMapping
	) {
		<div
			class="side-nav__link nav-link flex-row flex-align-center gap-5 pl-5 full-width"
			[ngClass]="{
				'nav-link--active': vm().currentRootRoute == routeMapping.key,
			}"
			(click)="navigateToRoute(routeMapping.key)"
		>
			<sr-icon iconName="featherCode" class="html-bracket"></sr-icon>
			<p>{{ routeMapping.value }}.html</p>
		</div>
	}
</div>
